[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/Jonghyun-Yun/jonghyun-yun.github.io.git
[submodule "org-html-themes"]
	path = static/org-html-themes
	url = https://github.com/Jonghyun-Yun/org-html-themes.git
